 main {
   .main-container {
     #painter-intro {
       padding: $centratura;
       background-image: url("imgs/painteressentials-7.jpg");
       background-repeat: no-repeat;
       background-position: top center;
       height: 450px;
       .intro-container {
         padding-top: 20px;
         height: 100%;
         display: flex;
         justify-content: space-between;
         .firma-uno {
           width: 25%;
           display: flex;
           justify-content: flex-end;
           flex-direction: column;
           color: white;
           font-size: 0.7em;
           padding-bottom: 20px;
         }
         .product-info {
           color: $cl_primary;
           h2 {
             padding-top: 30px;
             font-size: 2em;
           }
           h3 {
             font-size: 1.5em;

             margin-top: 20px;
             margin-bottom: 10px;
           }
           li {
             display: block;
             margin-bottom: 0.7em;
             span {
               color: grey;
             }
           }
           .download-trial {
             background-color: #5b5c5a;
             display: inline-block;
             padding: 5px 10px;
             margin-top: 30px;
             p {
               font-weight: bold;
             }
             div {
               display: inline-block;
             }
           }
         }
         .sale {
           background-color: black;
           width: 32%;
           .discount {
             color: $cl_primary;
             background-color: #cc397f;
             display: inline-block;

             margin-top: 10px;
             margin-left: 15px;
             padding: 5px;
           }
           .old-price {
             color: lightgrey;
             text-decoration: line-through;

             margin-top: 10px;
             margin-left: 15px;

             font-size: 1.3em;
           }
           .new-price {
             color: $cl_primary;
             font-size: 1.6em;

             margin-left: 15px;
           }
           .download {
             color: lightgrey;

             margin-left: 15px;
             margin-top: 10px;
           }
           .buy-now {
             background-color: #28acff;
             display: inline-block;

             margin-left: 15px;
             margin-top: 10px;
             padding: 8px 25px;

             color: $cl_primary;
           }
           .customer-sat {
             background-color: white;
             margin: 20px 15px;
             width: 80%;
             div {
               margin-left: 15px;
               font-weight: bold;
             }
             p {
               padding: 10px 15px;
               width: 95%;
               span {
                 color: #cc397f;
                 font-weight: bold;
               }
             }
             a {
               margin-left: 15px;
               text-decoration: none;
               color: #28acff;
             }
           }
         }
       }
     }
     #beginner-guide {
       padding: $centratura;
       background-color: #e6e6e6;
       li {
         padding: 20px 20px;
       }
       li:hover {
         background-color: white;
       }
     }
   }
 }
